@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-green: #1db954;
  /* r29 g185 b84 */
  --brand-dark: #121212;
  /* r18 g18 b18 */
  --brand-blue: #2d9cdb;
  /* r45 g156 b219 */
  --brand-gray: #b3b3b3;
  /* r179 g179 b179 */
}

body {
  background-color: #f8fafc;
  color: var(--brand-dark);
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Transiciones */

.v-enter-active,
.v-leave-active {
  transition: opacity 0.25s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}